/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

#root, .brand-logo {
  font-family: 'Kaushan Script', cursive;
}

.pink-text {
  font-family: 'Leckerli One', cursive;
}

.textRoot{
  float: right;
  text-align: justify;
  margin: 6%;
}

.imageRoot{
  float: left;
  margin: 3%;
}

button {
  margin: 2%;
  /* padding: 5%; */
}
